HOST=0.0.0.0
PORT=8080
REMARK42_UPSTREAM_URL=http://remark42:8080
REMARK42_SITE_ID=viscerium
COMMENT_ORIGINS=https://www.viscerium.co.uk
MAX_REQUEST_BYTES=65536
MAX_COMMENT_BYTES=2048
MAX_EXTERNAL_LINKS=3
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=6
RATE_LIMIT_SECRET=
IDEMPOTENCY_SECRET=
IDEMPOTENCY_TTL_MS=300000
TURNSTILE_MODE=off
TURNSTILE_SECRET_KEY=
TURNSTILE_EXPECTED_HOSTNAME=www.viscerium.co.uk
TURNSTILE_EXPECTED_ACTION=comment
TURNSTILE_TIMEOUT_MS=1500
WEB_RISK_MODE=off
WEB_RISK_API_KEY=
WEB_RISK_TIMEOUT_MS=1500
WEB_RISK_NEGATIVE_TTL_MS=900000
